@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-card-bg: #F4F4F4;
  --clr-bg: #986BFE;
  --clr-text: #000072;
  --clr-white: #ffffff;
  --clr-black: #222222;
  --text-ff: 'Rajdhani', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-ff);
  background-color: var(--clr-bg);
}

/* global css */

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75;
  /* color: var(--clr-text); */
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* global classes */

body {
  background: var(--clr-bg);
  font-family: var(--text-ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}



.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
  background-color: var(--clr-card-bg);
  border: 2px solid var(--clr-text);
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid var(--clr-black);
}

button {
  cursor: pointer;
  background-color: var(--clr-white);
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  color: var(--clr-text);

  transition: var(--transition);
  border: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
  color: var(--clr-text);
  background: var(--clr-bg);
  border: 2px solid var(--clr-text);
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
  color: var(--clr-text);
}

h3 {
  background-color: #fff;
  border-bottom: 1px solid #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
  font-size: 1.25rem;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}